aside {
   width: var(--navigation-size);
   height: 100vh;
   background-color: var(--color-background-grey);
   border-right: solid 1px var(--color-black);
   z-index: 5;
   overflow: hidden;
}

nav {
   height: 100svh;
   padding: var(--padding-xx-large) var(--padding) var(--padding-xx-large) var(--padding);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

#profil-wrapper {
   margin-bottom: var(--padding-xx-large);
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   gap: var(--padding-small);
}

#profil-wrapper i {
   font-size: 64px;
   color: var(--color-grey);
}

ul#navigation-list {
   display: flex;
   flex-direction: column;
   gap: var(--padding);
   list-style: none;
}

ul#navigation-list li {
   border: 1px solid var(--color-black);
   color: var(--color-grey);
   cursor: pointer;
}


ul#navigation-list li:hover {
   border: 1px solid var(--color-orange);
}

#navigation-list li.navigation-list-item-select {
   background-color: var(--color-orange);
   border: 1px solid var(--color-orange);
}

#navigation-list li a {
   width: 100%;
   padding: var(--padding-small) var(--padding-large);
   display: flex;
   align-items: center;
   text-decoration: none;
   color: var(--color-black);
   transition: color 200ms;
}
#navigation-list li a i {
   margin-right: var(--padding);
   font-size: 24px;
}

#navigation-list li.navigation-list-item-select a {
   color: var(--color-white);
}


#author-text {
   text-align: center;
   color: var(--color-grey);
   font-size: .9rem;
}